.flex-container {
  display: flex;

  &.center-all {
    align-items: center;
    justify-content: center;
  }

  &.center-row-vertical {
    align-items: center;
  }

  &.center-row-horizontal {
    justify-content: center;
  }

  &.center-column-vertical {
    justify-content: center;
  }

  &.center-column-horizontal {
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.row-reverse {
    flex-direction: row-reverse;
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  &.align-end {
    align-content: flex-end;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.space-between {
    justify-content: space-between;
  }
}