//$grid-breakpoints: (
//    xs: 576px,
//    sm: 768px,
//    md: 1024px,
//    lg: 1280px
//) !default;

$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;

@mixin screen-xs-down {
  @media only screen and (max-width: $xs) {
    @content;
  }
}

@mixin screen-sm-down {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin screen-md-down {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin screen-lg-down {
  @media only screen and (max-width: $lg) {
    @content;
  }
}

@mixin screen-xs-up {
  @media only screen and (min-width: $xs) {
    @content;
  }
}

@mixin screen-sm-up {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin screen-md-up {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin screen-lg-up {
  @media only screen and (min-width: $lg) {
    @content;
  }
}