.button,
.button::after {
  transition: all 0.15s;
}

.button {
  background: $blue;
  border-color: $blue;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  position: relative;

  &:before,
  &:after {
    background: lighten($blue, 10%);
    content: '';
    position: absolute;
    z-index: 100;
  }

  &:hover {
    border-color: lighten($blue, 10);
  }
}

// Sm
.button__sm {
  padding: 0.5em 2em;
  font-size: 11px;
}

.button__md {
  padding: 0.75em 2em;
  font-size: 13px;
}

.button__lg {
  padding: 1em 2em;
  font-size: 16px;
}

// Slide Down
.button__slide-down {
  &:after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }

  &:hover {
    &:after {
      height: 100%;
    }
  }
}

// Slide
.button__slide {
  &:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

// Fill Out
.button__fill-out {
  &:after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
  }

  &:hover {
    &:after {
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}

// Fill In
.button__fill-in {
  &:before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  &:after {
    background: $blue;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  &:hover {
    &:after {
      height: 0;
      left: 50%;
      top: 50%;
      width: 0;
    }
  }
}

// Skew
.button__skew {
  overflow: hidden;

  &:after {
    background: lighten($blue, 10%);
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.3s;
    transform-origin: top left;
    width: 0;
  }

  &:hover {
    &:after {
      height: 100%;
      width: 135%;
    }
  }
}

//.button__skew::after {
//  background: lighten($blue, 10%);
//  height: 100%;
//  left: -35%;
//  top: 0;
//  transform: skew(50deg);
//  transition-duration: 0.3s;
//  transform-origin: top left;
//  width: 0;
//}
//
//.button__skew:hover::after {
//  height: 100%;
//  width: 135%;
//}

.button__inner {
  font-family: 'Montserrat', 'Open Sans', Roboto, "Helvetica Neue", Helvetica,  sans-serif !important;
  text-transform: uppercase;
  position: relative;
  z-index: 200;
}