.input,
.textArea,
.input__error {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.input,
.textArea {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid;
  transition: all .15s ease-in-out;

  &.error {
    border-color: $red;
    background: lighten($red, 30%);
    transition: all .15s ease-in-out;
  }
}

.input__wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.input__error {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $red;
}