.link-button {
  margin: 25px 0;

  @include screen-md-down {
    margin: 0 25px;
  }
}

.link-button__wrapper {
  text-align: center;
  display: block;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  cursor: pointer;

  &:hover {
    .link-button__title,
    .link-button__subTitle,
    .link-button__icon {
      color: $blue;
      transition: all .3s ease-in-out;
    }
  }
}

.link-button__title,
.link-button__subTitle,
.link-button__icon {
  transition: all .3s ease-in-out;
}

.link-button__title,
.link-button__subTitle {
  text-transform: uppercase;
}

.link-button__title {
  margin: 8px 0 4px;

  @include screen-sm-down {
    font-size: 16px;
  }
}

.link-button__subTitle {
  margin: 0;
  font-size: 10px;
}

.link-button__icon {
  font-size: 46px;


  @include screen-sm-down {
    font-size: 36px;
  }
}