.menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  background: rgba(255,255,255, 0.5);
  height: 50px;
  width: 65px;
  border-radius: 0 0 3px 0;
  display: none;

  @include screen-sm-down {
    display: flex;
  }
}

.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 40px;
  padding: 4px;
  overflow: hidden;

  &.open {
    .bar-1 {
      animation-name: bar-1-animate;
      animation-direction: alternate;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }

    .bar-2 {
      animation-name: bar-2-animate;
      animation-direction: alternate;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }

    .bar-3 {
      animation-name: bar-3-animate;
      animation-direction: alternate;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }
  }

  span {
    position:absolute;
    display: block;
    background: #444;
    height: 4px;
    width: 35px;
    border-radius: 3px;

    &.bar-1 {
      animation-name: bar-1-reverse;
      animation-direction: alternate;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }

    &.bar-2 {
      animation-name: bar-2-reverse;
      animation-direction: alternate;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }

    &.bar-3 {
      animation-name: bar-3-reverse;
      animation-direction: alternate;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }

    &.bar-1 {
      top: 8px;
    }

    &.bar-2 {
      top: 17px;
    }

    &.bar-3 {
      bottom:8px;
    }
  }
}

@keyframes bar-1-reverse {
  0% {top: 17px;transform: rotate(-135deg);}

  30% {transform: rotate(-45deg);}

  60% {top: 17px; transform: rotate(0);}

  100% {top: 8px;}
}

@keyframes bar-1-animate {
  0% {top: 8px;}

  30% {top: 17px; transform: rotate(0);}

  60% {transform: rotate(45deg);}

  100% {top: 17px;transform: rotate(135deg);}
}

@keyframes bar-3-reverse {
  0% {bottom: 17px;transform: rotate(-45deg);}

  30% {transform: rotate(-45deg);}

  60% {bottom: 17px;transform: rotate(0);}

  100% {bottom: 8px;}
}

@keyframes bar-3-animate {
  0% {bottom: 8px;}

  30% {bottom: 17px;transform: rotate(0);}

  60% {transform: rotate(45deg);}

  100% {bottom: 17px;transform: rotate(45deg);}
}

@keyframes bar-2-reverse {
  0% {transform: rotate(-45deg);}

  30% {transform: rotate(-45deg);}

  60% {top: 17px;transform: rotate(0);}

  100% {top: 17px;}
}

@keyframes bar-2-animate {
  0% {top: 17px;}

  30% {top: 17px;transform: rotate(0);}

  60% {transform: rotate(45deg);}

  100% {transform: rotate(45deg);}
}