.menu-button {
  text-align: center;
  cursor: pointer;
  width: 60%;
  padding: 10px;
  border-radius: 3px;
  transition: all .15s ease-in-out;
  margin: 10px 0;

  &:hover,
  &.active {
    color: $red;
    width: 70%;
    background: #f8f8f8;
    transition: all .15s ease-in-out;

    .menu-button__icon {
      background: #f8f8f8;
      transition: background .15s ease-in-out;
    }
  }
}

.menu-button__title,
.menu-button__subTitle {
  text-transform: uppercase;
}

.menu-button__title {
  font-size: 22px;
}

.menu-button__subTitle {
  font-size: 10px;
  margin: 30px 0;
}

.menu-button__icon-wrapper {
  position: relative;
  border-top: 1px solid #555;
}

.menu-button__icon {
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 30px;
  background: #fff;
  transition: background .15s ease-in-out;
}