.paragraph {
  margin-top: 0;
  line-height: 26px;
}

.paragraph__xs {
  font-size: 11px;
  margin-bottom: 8px;
  line-height: 22px;
}

.paragraph__sm {
  font-size: 13px;
  margin-bottom: 13px;
  line-height: 24px;
}

.paragraph__md {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 26px;
}

.paragraph__lg {
  font-size: 18px;
  margin-bottom: 18px;
  line-height: 28px;

  @include screen-xs-down {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 28px;
  }
}