.about {
  height: 100%;
}

.about__jumbotron {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  margin: 0 0;
  background: url('./assets/me_mountain.jpg') no-repeat center 65% fixed;
  background-size: cover;
  transition: all .15s ease-in-out;

  @include screen-sm-down {
    height: 400px;
    background: url('./assets/me.png') no-repeat center fixed;
    background-size: cover;
    transition: all .15s ease-in-out;
  }
}

.about__content {
  padding: 0 50px 0 150px;
  height: 100vh;
}

.about__paragraph {
  font-size: 18px;
  margin-top: 0;
  line-height: 26px;
}

.about__link-button-wrapper {
  @include screen-md-down {
    flex-direction: row !important;
    justify-content: center;
  }
}