.contact {
  height: 100%;
}

.contact__contact-info-wrapper {
  @include screen-sm-down {
    flex-direction: row !important;
  }
}

.contact__contact-info {
  @include screen-sm-down {
    margin-right: auto;
  }
}

.contact__bg-image-wrapper {
  position: absolute;
  top: 215px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #efefef;

  @include screen-sm-down {
    top: 180px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }

  @include screen-xs-down {
    left: 8px;
    right: 8px;
    bottom: 8px;
  }
}

.contact__bg-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact__content {
  padding: 0 20px;
  margin: -20px 40px 20px;
  border-radius: 3px;
  background: url('./assets/gears.jpg') no-repeat center fixed;
  background-size: cover;

  @include screen-md-down {
    padding: 0 20px !important;
  }

  @include screen-xs-down {
    padding: 0 10px !important;
    margin: 0 10px 10px;
  }
}

.contact__content-wrapper {
  position: relative;
  padding-top: 20px;
}

.contact__contact-info-title {
  font-weight: bold;
}

.contact__contact-info-wrapper {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 3px;
}

.contact__contact-info {
  @include screen-xs-down {
    .paragraph {
      font-size: 14px !important;
      line-height: 20px !important;
    }
  }
}