//ghost variables
$bgColor: #f7f7f7;
$ghostBottom: 32px;
$ghostSize: $ghostBottom * 5 + 2;
$ghostShadow: darken($bgColor, 5%);
$ghostFaceSize: round($ghostBottom / 1.3333) + 2;
$ghostFaceColor: #959595;

// wrench variables
//$boltColor: darken(#ccc, 50%);
//$wrenchColor: #ccc;
//$wrenchAnimationSpeed: 2s;
//$wrenchAnimationEase: cubic-bezier(.47, 1.47, .31, 1.03);

@mixin border-bottom-jagged($size, $color-outer) {
  position: relative;
  padding-bottom: $size;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    bottom: -($ghostBottom / 3.85);
    width: calc(100% + #{$size});
    height: $size;
    background-repeat: repeat-x;
    background-size: 31px 32px;
    background-position: left bottom;
    background-image: linear-gradient(-45deg, $color-outer ($size / 2), transparent 0),
    linear-gradient(45deg, $color-outer ($size / 2), transparent 0),
    linear-gradient(-45deg, $ghostFaceColor ($size / 1.7), transparent 0),
    linear-gradient(45deg, $ghostFaceColor ($size / 1.7), transparent 0);
  }
}

.ia-page-error {
  position: relative;
  height: 100%;
}

.ia-page-error__content-wrapper {
  height: 100%;

  .ia-flex-container {
    transition: all .15s ease-in-out;
  }
}

.ia-page-error__animation-wrapper {
  min-width: 300px
}

.ia-page-error__message-wrapper {
  margin-left: 75px;
}

.ia-page-error__error-type {
  font-size: 60px;
  font-weight: 900;
  margin: 0 0 5px;
}

.ia-page-error__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.ia-page-error__description {
  margin-top: 5px;
  margin-bottom: 12px;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: lighter;
}

.ia-page-error__button {
  margin-top: 10px;
  width: 250px;
}

@include screen-md-down {
  .ia-page-error__content-wrapper {
    flex-direction: column;

    .ia-flex-container {
      transition: all .15s ease-in-out;
    }
  }

  .ia-page-error__message-wrapper {
    margin-left: 0;
    text-align: center;
    max-width: 300px;
    margin-top: 15px;
  }

  .ia-page-error__button {
    width: 300px;
  }
}

// 403 error styles
.ia-not-authorized-error {
  height: 350px;
  width: 220px;
  border-radius: 3px;
  background-color: #929292;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ia-not-authorized-error__door {
  height: 338px;
  width: 208px;
  border-radius: 3px;
  background-color: #c2c2c2;
}

.ia-not-authorized-error__rectangle {
  height: 45px;
  width: 20px;
  background-color: #dadada;
  border-radius: 4px;
  position: absolute;
  margin-top: 160px;
  margin-left: 15px;
}

.ia-not-authorized-error__handle {
  height: 6px;
  width: 30px;
  border-radius: 4px;
  background-color: #f3f3f3;
  position: absolute;
  margin-top: 180px;
  margin-left: 22px;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.5);
}

.ia-not-authorized-error__window {
  height: 30px;
  width: 100px;
  background-color: #1C2127;
  border-radius: 3px;
  margin: 80px auto;
  position: relative;
}

.ia-not-authorized-error__leaf {
  height: 30px;
  width: 100px;
  background-color: #929292;
  border-radius: 3px;
  margin: 80px auto;
  animation: leaf 7s infinite;
  transform-origin: right;
}

.ia-not-authorized-error__eye {
  top: 13px;
  left: 25px;
  height: 4px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  animation: eye 7s ease-in-out infinite;
  position: absolute;

  &.eye2 {
    left: 50px;
  }
}

@keyframes leaf {
  0% {
    transform: scaleX(1);
  }
  5% {
    transform: scaleX(0.2);
  }
  70%{
    transform: scaleX(0.2);
  }
  75%{
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes eye {
  0% {
    opacity: 0;
    transform: translateX(0)
  }
  5% {
    opacity: 0;
  }
  15%{
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    transform: translateX(15px);
  }
  35%{
    transform: translateX(15px);
  }
  40%{
    transform: translateX(-15px);
  }
  60%{
    transform: translateX(-15px);
  }
  65% {
    transform: translateX(0);
  }
}
// end 403 error styles