.resume__section-title {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.resume_section-column {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 30px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.resume__skills-list {
  position: relative;
  top: -10px;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0 0 0 10px;
  display: inline-block;
  list-style-type: none;
}

.resume__skills {
  display: inline-block;
  margin: 0 50px 0 0;
  padding: 5px 0 0 0;
  line-height: 21px;
  min-width: 200px;

  &:before {
    position: relative;
    left: -10px;
    content: "\2219";
  }
}

.resume__header-title {
  position: relative;

  @include screen-xs-down {
    margin-top: 20px;
  }
}

.resume__link {
  text-decoration: none;
  color: $blue;
}

.resume__pdf-btn {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .15s ease-in-out;

  &:hover {
    background: #f2f2f2;
    transition: all .15s ease-in-out;
  }

  &:first-child {
    margin-right: 5px;
  }
}

.resume__header-btns {
  position: absolute;
  top: 0;
  right: -115px;

  @include screen-xs-down {
    display: none;
  }
}

.resume__content-pdf-btns {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;

  @include screen-xs-down {
    display: flex;
  }
}
