@import 'gridlex/index';
@import 'typography/index';
@import 'utils/index';
@import 'layout/index';
@import 'components/index';

html,
body,
#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cardo', 'Open Sans', Roboto, "Helvetica Neue", Helvetica,  sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Open Sans', Roboto, "Helvetica Neue", Helvetica,  sans-serif !important;
}